@require 'cozy-ui/build'
@require 'objects/layouts'

.c-layout
    @extend $app

.app-content
    max-width 50rem
    margin 0 auto

.submit-form
    height 100%
    padding 1rem 0

.submit-form .textarea
    max-width 100%
    min-height 80%
    margin 1rem auto

.copy-ui
    margin 1rem auto
    text-align center

.copy-ui .copy-input
    display inline-block
    max-width 12rem

