@require 'cozy-ui/build'
@require 'objects/layouts'
@require 'settings/palette.styl'

.c-layout
    @extend $app

.app-content
    max-width 50rem
    margin 0 auto
    padding 0 1rem

.submit-form
    height 100%
    padding 1rem 0

    .textarea
        max-width 100%
        height 80%
        min-height 14rem
        margin 1rem auto
        font-family monospace

.copy-ui
    margin 1rem auto
    text-align center

    .copy-input
        display inline-block
        max-width 12rem

.content-viewer
    width 100%
    max-width 50rem
    min-height 10rem
    padding 1rem
    background paleGrey
    margin 2rem auto
